@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('./noto-sc-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('./noto-sc-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('./noto-sc-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Myanmar';
  font-style: normal;
  font-weight: 400;
  src: url('./noto-my-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Myanmar';
  font-style: normal;
  font-weight: 700;
  src: url('./noto-my-Bold.woff2') format('woff2');
  font-display: swap;
}
